@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* justify content will only work if height is specified */
  height: 100vh;
  overflow: hidden;
  /* overflow is hidden because we do not want to see scroll bars by default; */
}
