@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #34495e;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordian {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordian-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.accordian-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordian-item-header::after {
  content: '\002B';
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordian-item-header.active::after {
  content: '\2212';
}

.accordian-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordian-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 3px solid;
  border-image: linear-gradient(
      to right,
      transparent,
      #008f68,
      transparent,
      #008f68
    )
    1;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
